doctype
head
	meta(charset="utf-8")
	meta(http-equiv="X-UA-Compatible", content="IE=edge")
	title whitesite
	meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=0, maximum-scale=1.0")
	meta(name="description", content="whitesite playground")
	link(rel="stylesheet", href="css/style.css")
body
	include header
	block content
	include footer
	script(src="js/playground.js")
