doctype
head
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  title shooting stars
  meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=0, maximum-scale=1.0")
  meta(name="description", content="shooting stars")
  link(rel="stylesheet", href="css/style.css")
body
  block content
  script(src="js/shooting-stars.min.js")
  script.
    var config = {
      id: 'app',
      particleLife: 300,
      amount: 50,
      star: {
        size: {
          upper: 50,
          lower: 25
        },
        rotateLimit: 90, 
        points: 5,
        innerRadius: 0.5,
        borderColor: '#290f5a',
        fillColor: '#ffcc00',
      }
    };
    myCanvas = new ShootingStars(config);
    myCanvas.flushPool();
    myCanvas.render();
