extends layout-blocks/layout
block content
  header
    canvas#app
    h1 &lt; Jhey Tompkins/&gt;
    p.
      erer erg erg eg we wef wrg wecw w  erg wew cw
      wefwge wcwefwg wfwc wef wgwefw cwfwegf w gwe
      fwfw fwef wf wfwf wf
      wf wfwfwe fw
      fw efw
      fwfwfwef
      erer erg erg eg we wef wrg wecw w  erg wew cw
      wefwge wcwefwg wfwc wef wgwefw cwfwegf w gwe
      fwfw fwef wf wfwf wf
      wf wfwfwe fw
      fw efw
      fwfwfwef
      erer erg erg eg we wef wrg wecw w  erg wew cw
      wefwge wcwefwg wfwc wef wgwefw cwfwegf w gwe
      fwfw fwef wf wfwf wf
      wf wfwfwe fw
      fw efw
      fwfwfwef
      erer erg erg eg we wef wrg wecw w  erg wew cw
      wefwge wcwefwg wfwc wef wgwefw cwfwegf w gwe
      fwfw fwef wf wfwf wf
      wf wfwfwe fw
      fw efw
      fwfwfwef
      erer erg erg eg we wef wrg wecw w  erg wew cw
      wefwge wcwefwg wfwc wef wgwefw cwfwegf w gwe
      fwfw fwef wf wfwf wf
      wf wfwfwe fw
      fw efw
      fwfwfwef
